*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Questrial', sans-serif;
}


/****************************************************************/
/*Start of Media Query*/
/*FOR DESKTOP*/
@media only screen and (min-width: 1300px) and (max-width: 780px){

/*About us*/
.about > .container-about > .container-content > div{
	flex-direction: column;
}

.about{
	overflow-x: hidden;
	overflow-y: auto;
}
/*END OF ABOUT*/

/*For FOLIO*/
/*margin top*/
.container-folio > .video-container{
	margin-top: 150px;
}

.container-folio > .video-responsive iframe, .video-responsive object, .video-responsive embed {
	position: inline-block;
	width: 500px;
	height: 500px;
}

iframe{
	 height: 500px; 
	 width: 600px;
}

.container-folio > .video-container > .video-responsive{
	padding: 20px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*END OF FOLIO*/


/*Start of Clients*/
.container-list{
	margin-top: 100px;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}



/*End of Clients*/

/*Contact*/
.contact > .container-contact .container-form{
	justify-content: center;
}

.container-contact > .container-form{
	display: flex;
	flex-direction: column;

}

.div-form{
	margin-left: 200px;
}

.container-contact > .container-form > div{
	margin-top: 30px;

}
/*END OF CONTACT*/
}

/*END OF MEDIA QUERY for 770x1030*/

/*For iphone 6/7/8*/
@media only screen and (min-width: 375px) and (max-width: 667px){

	/*Header*/
	header{
		overflow-x: hidden;
		overflow-y: hidden;
	}
/*Text - header*/
.container-header > h1, span{
	display: none;
}

.container-header >h3{
	margin-top: 100px;
	margin-right: 10px;
}

/*END of text header*/
/*END of Header*/

	nav, ul {
 max-width: auto; 
  height: 20px;
}


nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}

	#logo {
	display: none;
}


/*END of Header*/

/*About*/
	.about{
		overflow-x: hidden;
		overflow-y: auto;
	}

	.about > .container-about > .container-content > div{
	flex-direction: column;
		margin-bottom: 30px;
}

	.folio{
		overflow-x: hidden;
		overflow-y: auto; 
	}

	.container-folio > .video-container{
	margin-top: 5px;
}

.container-folio > .video-container > .video-responsive{
	padding: 10px;
	width: 350px;
}

/*CLIENTS*/
/*Start of Clients*/
.container-list{
	margin-right: 100px;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
/*END OF CLIENTS*/

/*Start of Contacts*/

.contact{
	overflow-y: hidden;
	overflow-x: hidden; 
}
.contact > .container-contact .container-form{
	justify-content: center;
}

.container-contact > .container-form{
	display: flex;
	flex-direction: column;

}

.div-form{
	margin-left: 180px;
	margin-top: 30px;
}

#iframe-google-maps{
	display: none;
}

/*END of Contacts*/
	.container-footer > p{
		font-size: 10px;
	}
}
/*END OF IPHONE MEDIA QUERY*/
/******************************************************************/



/*START OF IPAD MEDIA QUERY*/
@media only screen and (min-width: 768px) and (max-width:1024px){
/*Start of Header*/
		header{
			overflow-x: hidden;
			overflow-y: auto;
		}

/*End of Header*/
/*About us*/
.about > .container-about > .container-content > div{
	flex-direction: column;
	margin-bottom: 30px;
}

.about{
	overflow-x: hidden;
	overflow-y: auto;
}
/*END OF ABOUT*/

/*For FOLIO*/
/*margin top*/
.container-folio > .video-container{
	margin-top: 100px;
}

.container-folio > .video-responsive iframe, .video-responsive object, .video-responsive embed {
	position: inline-block;
	width: 500px;
	height: 500px;
}

iframe{
	 height: 500px; 
	 width: 600px;
}

.container-folio > .video-container > .video-responsive{
	padding: 20px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*END OF FOLIO*/


/*Start of Clients*/
.container-list{
	margin-top: 100px;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}



/*End of Clients*/

/*Contact*/
.contact > .container-contact .container-form{
	justify-content: center;
}

.container-contact > .container-form{
	display: flex;
	flex-direction: column;

}

.div-form{
	margin-left: 200px;
}

.container-contact > .container-form > div{
	margin-top: 30px;

}
/*End of Contact*/
}
/*END OF MEDIA QUERY FOR IPAD*/
/*********************************************************************/

/*End of Media Queries*/
/*********************************************************************/


/*CSS for Navbar*/
/*logo inside navbar*/
/*postion of logo*/

nav >div{
	position: absolute;
	left: 10px;
}

/*end of positon logo*/
nav >div >#logo {
	height: 60px; 
	width:60px;
	margin-top: 2px;
}
/*end of logo*/

nav, ul {
  list-style-type: none;
  background-color: #0f0e0e;
  position: sticky; 
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60px;
  width: auto;
  z-index: 5000;
}

nav ul li {
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #26544F;
}

/*End of CSS for Navbar*/

header{
	height: 100vh;
	background: url("../images/pic5.jpg");
	background-size: cover;
	background-position: center;
}


/*control for h1*/
header > .container-header > h1, span{
	margin-top: 150px;
	margin-left: 30px;
	font-size: 100px;
	color: whitesmoke;
	font-weight: bold;
}

/*control for span*/
header > .container-header > h1 > span{
	color: #7b0828;
	font-weight: bolder;
}

/*control for h3*/
header > .container-header > h3{
	margin-left: 180px;
	font-size: 20px;
	color: whitesmoke;
}

.header-play-btn #img-play-btn{
	height: 40px;
	width: 40px;
	margin-top: 10px;
	margin-left: 180px;
}

/*End of header*/


/*Start of about*/
/*for navbar*/
.about > nav ul li #about {
	background-color: #26544F;
}
/*end for navbar*/

.about{
	height: 100vh;
	background: url("../images/pic5.jpg");
	background-size: cover;
	background-position: center;
	color: whitesmoke;
	text-align: center;
	align-items: center;
	overflow-x: hidden;
	overflow-y: auto; 

} 

#container-name{
	background-color: #26544F;
}

.about > .container-about .container-title{
	position: static;
	text-decoration: underline;
	margin: 30px;
}

.about > .container-about > .container-content > div{
	position: inline;
	display: flex;
	justify-content: center;
}

.about > .container-about > .container-content > div >p{
	margin: 20px 30px;
	padding: 10px;
	left: 10px;
}

.about > .container-about > .container-content > div div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.about > .container-about > .container-content h2{
	text-decoration: underline;
	margin-bottom: 20px;
}

.about > .container-about > .container-content > div > div{
	display: inline-block;
}
#about-image{
	height: 280px;
	width: 250px;
	padding: 5px 10px;
	object-fit: cover;
}

#about-image:hover{
	transform: scale(1.1 ,1.0);
	transition: .6s;
}

#director-name{
	background-color: #26544F;
	padding:5px;
	margin:5px;
}



/*End of about CSS*/
/****************************************************************************/


/*Start of folio CSS*/
/*for navbar*/
.folio > nav ul li #folio {
	background-color: #26544F;
}
/*end for navbar*/

.folio{
	height: 100vh;
	background: url("../images/pic5.jpg");
	background-size: cover;
	background-position: center;
	color: #0f0e0e;
	text-align: center;
	align-items: center;
} 

.folio > .container-folio .container-title{
	color: whitesmoke;
	position: static;
	text-decoration: underline;
	margin: 30px;
}

/*TRY VIDEO*/

.video-container{
	display: relative;
	margin-top: 40px;
}

.container-folio > .video-container > .video-responsive {
	padding: 20px;
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}
 
.container-folio > .video-responsive iframe, .video-responsive object, .video-responsive embed {
	position: inline-block;
	width: 250px;
	height: 250px;
}

iframe{
	 height: 315px; 
	 width: 560px;
}
/*END OF TRY VID*/

/*End of folio CSS*/
/*************************************************************************/




/*Start of clients CSS*/
/*for navbar*/
.clients > nav ul li #clients{
	background-color: #26544F;
}
/*end for navbar*/

.clients{
	height: 100vh;
	background: url("../images/pic5.jpg");
	background-size: cover;
	background-position: center;
	color: whitesmoke;
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
} 

.clients > .container-clients .container-title{
	position: static;
	text-decoration: underline;
	margin: 30px;
}

/*TRY*/
.container-list{
	display: flex;
  	flex-wrap: wrap;
 	justify-content: center;
}

.item {
  width: 30%;
  padding-bottom: 2%; /* Same as width, sets height */
  margin-bottom: 1%; /* (100-32*3)/2 */
  position: relative;
}
/*END TRY*/


#client-logo{
	height: 150px;
	width: 200px;
	padding: 10px;
	border-radius: 5%;
}

/*End of clients CSS*/
/********************************************************************/



/*Start of contact CSS*/
/*for navbar*/
.contact > nav ul li #contact{
	background-color: #26544F;
}
/*end for navbar*/

.contact{
	height: 100vh;
	background: url("../images/pic5.jpg");
	background-size: cover;
	color: whitesmoke;
	position: static;
	text-align: center;
	align-items: center;
} 

.contact > .container-contact .container-title{
	position: static;
	text-decoration: underline;
	margin: 30px;
}


.contact > .container-contact .container-form{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	
}

.container-form , div form h4{
	margin-top: 5px;
}

.container-form > .div-form div> h4{
	background-color: #26544F;
	margin: 5px;
	padding: 5px;
	position: relative;
	right: 100px;
}

input, textarea {
	display: block;
	height: 25px;
	width: 260px;
	margin: 10px;
	padding: 5px;
	resize: none;
	position: relative;
	right: 100px;
}

/*btn behavior*/
.btn{
	margin: 5px;
	padding: 50px;
}

/*end*/

#message{
	height: 150px;
}
.btn{
	background-color: #0f0e0e;
	color: whitesmoke;
	border-style: none;
	padding: 5px 15px;
	border-radius: 20px;
	transition: .4s;
	font-weight: bold;
	font-size: 15px;
	position: relative;
	right: 55px;
}

.btn:hover{
	background-color: #26544f;
	color: whitesmoke;
	font-weight: bolder;
}

/*for google maps*/
#iframe-google-maps{
	height: 450px;
	width: 400px;
}

/*End of for google maps*/
/*End of contact CSS*/
/********************************************************************/


/*Start of footer CSS*/
footer {
	display: flex;
 	height: 8vh; 
   left: 0;
   bottom: 0;
   max-width: auto;
   background-color: #0f0e0e;
   color: whitesmoke;
   text-align: center;
   align-items: center;
   justify-content: center;
   z-index: 10000;
}
footer > .container-footer{
	margin-top: 5px;
}
/*End of footer CSS*/

